<!doctype html>
<html lang="en">
<head>
    @*<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
   
    
    <link href="~/Common/css/font-awesome-4.7.0/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Common/css/font-awesome-4.7.0/css/fontawesome-all.min.css" rel="stylesheet" />
   
    <link href="~/Common/css/font-awesome-4.7.0/css/datatables.min.css" rel="stylesheet" />
    
    <link href="~/Common/css/font-awesome-4.7.0/css/bootadmin.css" rel="stylesheet" />
    
    <link href="~/Common/css/font-awesome-4.7.0/css/frs_icons.css" rel="stylesheet" />
    
    <link href="~/Common/css/font-awesome-4.7.0/css/frs_style.css" rel="stylesheet" />
    @*<script src="~/assets/js/jquery-1.11.2.min.js"></script>
        <script src="js/jquery.min.js"></script>*@





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.1.3/js/dx.all.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/datatables.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootadmin.min.js"></script>
    
    <script src="~/Common/JavaScript/HomeIndex.js"></script>
    <title>Restaurant the time saviour</title>
    <style type="css">
        html {
            font-size: 32px;
        }

        .smaller {
            font-size: 0.5rem;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }





    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a> <a class="navbar-brand" href="#"> Restaurant </a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> user info</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user"> <a href="#" class="dropdown-item"><i class="icon icon-profile"></i> Profile</a> <a href="login.html" class="dropdown-item"><i class="icon icon-exit"></i> Logout</a> </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="d-flex">
        <div class="sidebar sidebar-dark bg-dark">
            <ul class="list-unstyled">
                <li>
                    <a href="#sm_expand_2" data-toggle="collapse"> <i class="icon icon-ico_services"></i> Food Information </a>
                    <ul id="sm_expand_2" class="list-unstyled collapse show">
                        <li>
                            @*<a href="#">Food Information</a>*@
                            <ul class="subChild">
                                <li class="active"><a href="#">FoodItems</a></li>

                            </ul>
                        </li>

                    </ul>
                </li>

                <li><a href="#" onClick="Logout();"><i class="icon icon-exit"></i> Log Out</a></li>
            </ul>
        </div>
        <div class="content p-4">



            <h2 class="mb-4">Food Items to Order</h2>
            <div class="card mb-4">
                <div class="demo-container">
                    <div id="gridContainer"></div>
                </div>
                <div class="card-body">
                    <p><button class="btn btn-primary" onclick="SelectedRow();"><i class="fa fa-download"></i> Order Food</button></p>

                </div>
            </div>
        </div>


        <div class="form-popup" id="myForm" style="display:none;">
            <form action="/action_page.php" @*class="form-container"*@class="form-horizontal showActionComment">
                <h1>Payment Method</h1>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                @*<button type="submit" class="btn">Login</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>*@
            </form>
        </div>

        @*<div class="modal fade" id="addlocationpopup" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="popup-window" id="ipadLocationPopup">
            <div class="modal-dialog" style="padding-top: 0px;">
                <div class="modal-content newloc-content">
                    <div class="modal-header" style="background: 0px; border-bottom: 0px;">

                        <h4 class="modal-title ng-binding" style=" color: #000; font-weight: bold; margin: 8px; font-size: 21px;">
                            PaymentMethod
                        </h4>
                    </div>
                    <div id="locationadd" class="emp-body">
                        <div class="modal-body">

                            <form class="form-horizontal ng-pristine ng-valid ng-valid-maxlength ng-valid-email" id="locationform" novalidate="novalidate">
                                <div class="form-group">
                                    <div class="col-xs-12" id="lotabinnercontent" style="padding-top:0px; padding-left:0px; padding-right:0px; padding-bottom:20px;">

                                        <div class="col-xs-6 first-field" style="padding-right:0px;">
                                            <div class="col-xs-6 l-code" @*id="lbbcode"*@>
        @*<span class="label" id="spnLocID">Location ID</span>
        <input class="input-control ng-pristine ng-valid ng-empty ng-valid-maxlength ng-touched" maxlength="20" tabindex="11" type="text" id="txtLocationId" name="LocationId" ng-model="locations.PLANT_ID" style="cursor: default;">
    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 no-padding footer-cancel" style="padding-top: 13px !important; padding-bottom:10px !important;">

                                            <div class="col-xs-4 no-padding">
                                                <button type="reset" id="btnCancel" class="button floatl btn-cancel" data-dismiss="modal" aria-hidden="true" title="Close" tabindex="32" style="cursor: default;"><span id="spnLOCCancel">Cancel</span></button>
                                            </div>
                                            <div class="col-xs-4 no-padding">
                                                <button type="submit" value="Submit" style="height: 32px; cursor: default;" class="btn btn-success floatr btn-save" id="btnSave" tabindex="31">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
       




    </div>


</body>
</html>