
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    </div>
    <div style="background:#2b2b2b;">
        @RenderBody()
    </div>
    </div>
</body>
</html>
